.sidebar{
  flex:1;
  background-color: #F8F5F2;
  min-height: 100vh;
  color: #5D5A58;
  padding: 10px 10px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  

  .top{
    height: 70px;
    padding: 10px;
    .menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
    
      .menu-title{
        font-size: 20px;
        font-weight: bold;
        color: #E6A87C;
      }
    }
    .search{
      display: flex;
      align-items: center ;
      justify-content: space-between;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      padding: 5px;
      background-color:#FFFFFF;

      input{
        border: none;
        outline: none;
        background-color: transparent;
        color: #5D5A58;

        &::placeholder{
          font-size: 12px;
          color: #9E9E9E;
        }
      }
    }
  }
  .center{
    padding: 10px;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;

      .title{
        font-size: 15px;
        font-weight: bold;
        color: #5D5A58 ;
        margin-top: 15px;
        margin-bottom: 5px;

      }
      li{
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        transition: background-color 0.2s ease, box-shadow 0.2s ease;

        .counter{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 15px;
          border-radius: 5px;
          background-color: #E6F3F8 ;
          color: #3A6F8F ;
          font-size: 12px;
          font-weight: bold;
          margin-left: auto;
          transition: all 0.2s ease-in-out;
        }
        &:hover{
          background-color: #EDE4DC; /* very light pastel blue on hover */
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05); /* soft shadow for "lift" */
          transform: scale(1.05)
        }
        .icon{
          font-size: 18px;
          
        }
        .color{
          height: 18px;
          width: 18px;
          border-radius: 3px;
          border: none;
        }
        span{
          font-size: 14px;
          font-weight: 600;
          margin-left: 10px;

        }
      }
    }
   .title{
        font-size: 15px;
        font-weight: bold;
        color: #5D5A58 ;
        margin-top: 15px;
        margin-bottom: 5px;

      }
    .tags{
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 5px;


      .tag{
        position: relative;
        background-color: #f3f3f3;
        color : #333;
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 600;
        cursor:pointer;
        transition: background 0.3s ease
      }
    }
  }
  .bottom{
    padding-left: 10px;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;

      
      li{
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        transition: background-color 0.2s ease, box-shadow 0.2s ease;


        &:hover{
          background-color: #EDE4DC; /* very light pastel blue on hover */
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05); /* soft shadow for "lift" */
          transform: scale(1.05)
        }
        .icon{
          font-size: 18px;
          
        }
        span{
          font-size: 14px;
          font-weight: 600;
          margin-left: 10px;

        }
      }
    }
  }
}
