.tomorrow{
  padding: 12px;
  background-color:  #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  .title{
    font-size: 28px;
    font-weight: bold;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      background-color: #F7F4F2;
      transition: background 0.3s ease, transform 0.2 ease;
      border-bottom: 1px solid #E7DDD5;

      &:hover{ background-color: #F3F3F3; transform: translateX(2px); }

      input{
      margin-right: 10px;
      width: 18px;
      height: 18px;
      accent-color:#A3BE8C;
     }
      label{
        font-size: 16px;
        font-weight: 500;
        color: #3B3A39;
        flex: 1;

        .details{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 15px;
          padding: 8px;
          margin-top: 5px;
          transition: opacity 0.3s ease-in-out ;


          .left{
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #888;
            gap: 5px;
            padding-right: 10px;

            .icon{
              font-size: 12px;
              color: #777;

            }
            p{
              font-size: 12px;
            }
          }
          .center{
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #888;
            gap: 5px;
            padding-right: 10px;

            span{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 15px;
              border-radius: 5px;
              background-color: rgb(230, 226, 226);
              color: #333;
              font-size: 10px;
              font-weight: bold;
              margin-left: auto;
            }
            p{
              font-size: 12px;
            }
          }
          .right{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding-right: 10px;

            .color{
              height: 12px;
              width: 12px;
              background-color: red;
              border: none;
              border-radius: 3px;
            }
            p{
              font-size: 12px;
            }

          }

        }
      }

      .icon{
              margin-left: auto;
              font-size: 18px;

              &.rotate{
                transform: rotate(90deg);
              }
             
            }

  }
  li:hover .icon{
  color: #3B3A39;
  background-color: #F3E9E2;           /* subtle warm hover */
}
  
}




  
}